* {
  box-sizing: border-box;
  color: #ffff;
}

html,
body {
  max-width: 100vw;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  color: #ffff;
  background-color: #000;
}

a {
  color: inherit;
  text-decoration: none;
}
