.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  padding-bottom: 0;
  min-height: 100%;
  color: "#ffff";
}

.container {
  padding: 1rem;
}

.accessContainer {
  padding: 0;
  min-height: 40px;
}

.success {
  text-align: center;
  font-size: 2rem;
}
.passwordInput {
  display: block;
  padding-inline: 0;
  margin-bottom: 2rem;
  margin-inline: auto;
  text-transform: uppercase;
  font-size: 2rem;
  text-align: center;
  background-color: transparent;
  border: none;
  outline-style: hidden;
  outline: none;
}
.company {
  font-size: 3em;
  text-align: center;
  margin-bottom: 4rem;
  max-width: 350px;
}

.inputForm {
  max-width: 350px;
  margin-top: 4rem;
  position: relative;
  margin-inline: auto;
  display: flex;
  gap: 40px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-radius: 0.3rem;
}

.inputContainer {
  position: relative;
  width: 100%;
}
.inputContainer label {
  padding-inline: 0.5rem;
  position: absolute;
  top: -15px;
  left: 20px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  border-inline: 2px solid white;
  background-color: #000;
}

.inputContainer input {
  text-align: center;
}

.inputContainer textarea,
.inputContainer input {
  width: 100%;
  padding: 1rem 0.5rem;
  resize: vertical;
  font-size: 1.5rem;
  border-style: none;
  border-radius: 0.3rem;
  background-color: #000;
  outline: 2px solid white;
}

.inputContainer textarea {
  margin-top: 1rem;
}

.lastLabel {
  top: -5px;
  width: 90%;
  padding-right: 0;
}
.submit {
  padding: .5rem;
  margin-inline: auto;
  font-size: 2rem;
  border: none;
  background-color: #000;
}

.submitted{
  text-align: center;
}

.submit:hover {
  background-color: #ffff;
  border-radius: .5rem;
  color: #000;
}